
host nginx
	hostname 192.168.1.103
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa

host k8s-worker1
	hostname 192.168.3.105
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/key/id_ed25519

host k8s-worker3
	hostname 192.168.3.30
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/key/id_ed25519

host k8s-worker2
	hostname 192.168.1.109
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa

host one-sakura
	hostname 133.242.178.198
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/key/id_ed25519

host knot-resolver2
	hostname 192.168.1.105
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa

host knot-resolver1
	hostname 192.168.3.16
	user root
	port 22
	identityfile ~/.ssh/key/id_ed25519

host host3
	hostname 192.168.1.30
	user root
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa

host knot
	hostname 192.168.1.102
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa

host nfs
	hostname 192.168.1.114
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa

host host4
	hostname 192.168.1.40
	user root
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa

host lxc-nginx
	hostname 192.168.3.100
	user root
	port 22
	identityfile C://Users/kigaw/.ssh/key/id_ed25519

host maas1
	hostname 192.168.3.2
	user root
	port 22
	identityfile C://Users/kigaw/.ssh/key/id_ed25519

host k8s-worker4
	hostname 192.168.1.121
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa

host github.com
	hostname github.com
	user git
	port 22
	identityfile ~/.ssh/key/id_ed25519

host dev
	hostname 192.168.1.50
	user kigawa
	port 7521
	identityfile ~/.ssh/key/id_ed25519
#	ForwardX11  yes

host develop
	hostname 192.168.1.239
	user kigawa
	port 22
	identityfile ~/.ssh/key/id_ed25519

host knot-resolver3
	hostname 192.168.1.113
	user root
	port 22
	identityfile ~/.ssh/key/id_ed25519

host postgres1
	hostname 192.168.3.11
	user root
	port 22
	identityfile C://Users/kigaw/.ssh/key/id_ed25519

host worker2
	hostname 192.168.0.110
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa

host k8s4
	hostname 192.168.1.120
	user kigawa
	port 22
	identityfile ~/.ssh/key/id_ed25519

host k8s3
	hostname 192.168.1.107
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa

host k8s2
	hostname 192.168.1.106
	user kigawa
	port 22
	identityfile ~/.ssh/key/id_ed25519

host mc2
	hostname 192.168.0.102
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa

host k8s1
	hostname 192.168.1.103
	user kigawa
	port 22
	identityfile ~/.ssh/key/id_ed25519

host mysql
	hostname 192.168.0.114
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa

host kigawa-net
	hostname 192.168.0.111
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa

host one
	hostname 192.168.1.100
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa

host one-mysql-old
	hostname 192.168.0.29
	user root
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa
host nfs
	hostname 192.168.0.115
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa
host apache
	hostname 192.168.0.27
	user root
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa
host haproxy
	hostname 192.168.1.104
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa
host mysql-old
	hostname 192.168.0.23
	user root
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa
host lunail
	hostname 192.168.0.107
	user root
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa
host build
	hostname 192.168.0.106
	user root
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa
host one-build
	hostname 192.168.0.108
	user root
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa
host bungee
	hostname 192.168.0.100
	user root
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa
host lobby
	hostname 192.168.0.21
	user root
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa
host normal
	hostname 192.168.0.20
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/normal
host host2
	hostname 192.168.1.20
	user root
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa
host db
	hostname 192.168.0.18
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/db
host db1
	hostname 192.168.0.23
	user root
	port 22
	identityfile C://Users/kigaw/.ssh/main/id_rsa
host mc
	hostname 192.168.0.17
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/kvm_minecraft
host linode_web
	hostname 139.162.89.197
	user kigawa
	port 22
	identityfile C://Users/kigaw/.ssh/main/tatami
Host host1
    HostName 192.168.1.10
    User root
    Port 22
    IdentityFile ~/.ssh/main/id_rsa
host	kvm_tatami
	hostname 192.168.0.14
	user kigawa
	identityfile C:\Users/kigaw/.ssh/main/kvm_tatami
host	kvm_important
	hostname 192.168.0.15
	user kigawa
	identityfile C:\Users/kigaw/.ssh/main/kvm_important
Host agames
    HostName 219.117.219.18
    User kigawa
    Port 12600
	IdentityFile ~/.ssh/main/tatami
Host kagoya
	HostName 133.18.172.230
	User kigawa
	IdentityFile ~/.ssh/main/tatami_kagoya_01
Host tatami_conoha_01
	HostName 160.251.47.215
	User kigawa
	IdentityFile ~/.ssh/main/tatami_conoha_01
Host kigawa_gcp
	HostName 35.188.79.161
	User kigawa
	IdentityFile ~/.ssh/main/kigawa_gcp
Host hal-sennka
	HostName 192.168.1.101
	User kigawa
	IdentityFile C:\Users/kigaw/.ssh/key/id_rsa

host cross
	hostname croover.sakura.ne.jp
	user croover
	port 22
	Identityfile ~/.ssh/main/id_rsa
